@using BlazorPropertyGridComponents.Components

<div class="property-grid-container">
<EditForm Model="@DataContext">
<table class="table table-sm property-grid-table">
@{
            var objectname = nameof(@DataContext);
}
<caption class="property-grid-caption">@(ObjectTitle ?? objectname )</caption>
    <thead class="property-grid-header">
        <tr>
            <th scope="col">Property</th>
            <th scope="col">Value</th>
            <th scope="col" class="text-center">
                <button class="btn btn-sm btn-warning fas fa-pencil-alt" 
                        title="Click here to toggle edit mode" 
                        @onclick="(e) => toggleEditButton(e)" 
                        style="@CssStyleEditbutton">
                </button>
            </th>
        </tr>
    </thead>
    <tbody class="property-grid-body">
      
        @foreach (KeyValuePair<string, PropertyInfoAtLevelNodeComponent> prop in Props)
        {
            @if (!prop.Value.IsClass)
            {
               @* <tr>
                    <td>@prop.Key</td>
                    <td>@prop.Value</td>
                </tr>*@
            }
            else
            {
                
                var currentNestedDiv = "currentDiv_" + prop.Key;
                var currentProp = prop.Value.PropertyValue;
                //must be a nested class property
                <tr>
                    <td colspan="2">
              
                        <button type="button" id="@prop.Key" class="btn btn-info fas fa-minus"  @onclick="(e) => toggleExpandButton(e,prop.Key)"  data-toggle="collapse" data-target="#@currentNestedDiv">
                        </button>
                        <div id="@currentNestedDiv" class="collapse show">
                           <PropertyRowComponent Depth="1" PropertyInfoAtLevel="@prop.Value" />
                        </div>
                        </td>
                        <td></td>
                        </tr>
            }
        }

    </tbody>
</table>
</EditForm>
</div>

@code {
}